html {
  --primary-color: #03a9f4;
}
html,body{
  background-color: #f0f2f5;
}

.PageHeader {
  background: var(--primary-color);
  padding: 8px 20px;

  :global(.ant-page-header-heading-title) {
    color: white;
    font-weight: 400;
  }
}

.CommentList {
  margin: 0 80px;
  padding: 40px;
  background: white;
}

:global(.ant-tabs-nav) {
  padding: 0 15px;
}

@media screen and (max-width:1200px) {
  .CommentList {
    margin: 0 15px;
    padding: 10px;
  }
}

:global(.ant-comment-inner) {
  padding-bottom: 0;

}

:global(.ant-comment-content-author-name) {
  word-break: break-all;
}